# MushRoom Classification
**Goal is to predict the class of mushrooms, given some features of the mushrooms. We will use Naive Bayes Model for this classification.**

## Importing Required Libraries

In [0]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

## Data Preparation

#### Loading DataSet

In [2]:
df=pd.read_csv('mushrooms.csv')
df.head()

  type cap_shape cap_surface  ... spore_print_color population habitat
0    p         x           s  ...                 k          s       u
1    e         x           s  ...                 n          n       g
2    e         b           s  ...                 n          n       m
3    p         x           y  ...                 k          s       u
4    e         x           s  ...                 n          a       g

[5 rows x 23 columns]

#### Converting catergorical into numerical

In [3]:
le=LabelEncoder()
ds=df.apply(le.fit_transform)
ds.head()

   type  cap_shape  cap_surface  ...  spore_print_color  population  habitat
0     1          5            2  ...                  2           3        5
1     0          5            2  ...                  3           2        1
2     0          0            2  ...                  3           2        3
3     1          5            3  ...                  2           3        5
4     0          5            2  ...                  3           0        1

[5 rows x 23 columns]

The first row are the y values

In [0]:
data=ds.values 
data_y=data[:,0]
data_x=data[:,1:]

#### Breaking Data into train and test

In [5]:
xtrain,xtest,ytrain,ytest=train_test_split(data_x,data_y,test_size=0.2)
print(xtrain.shape)
print(ytrain.shape)
print(xtest.shape)
print(ytest.shape)

(6499, 22)
(6499,)
(1625, 22)
(1625,)

## Naive Bayes Classifier

In [0]:
def prior_prob(y_train,label):
    
    total_examples = y_train.shape[0]
    class_examples = np.sum(y_train==label)
    
    return (class_examples)/float(total_examples)
def cond_prob(x_train,y_train,feature_col,feature_val,label):
    
    x_filtered = x_train[y_train==label]
    numerator = np.sum(x_filtered[:,feature_col]==feature_val)
    denominator = np.sum(y_train==label)
    
    return numerator/float(denominator)

In [0]:
#Prediction
def predict(x,y,xtest):
  noclasses=np.unique(y)
  nofeatures=x.shape[1]
  prob=[]
  for label in noclasses:
    likelihood=1.0 
    for i in range(nofeatures):
      conditionalprob=cond_prob(x,y,i,xtest[i],label)
      likelihood*=conditionalprob
    priorprob=prior_prob(y,label)
    prob.append(likelihood*priorprob)
  pred=np.argmax(prob)
  return pred

In [0]:
def score(xtrain,ytrain,xtest,ytest):
  pred=[]
  for i in range(xtest.shape[0]):
    pred.append(predict(xtrain,ytrain,xtest[i]))
  pred=np.array(pred)
  accuracy=np.sum(pred==ytest)/ytest.shape[0]
  return accuracy

In [9]:
print(score(xtrain,ytrain,xtest,ytest))

0.9981538461538462

In [0]:
pred=[]
for i in range(xtest.shape[0]):
  pred.append(predict(xtrain,ytrain,xtest[i]))
pred=np.array(pred)
pd.DataFrame(pred).to_csv('predictions.csv')